.idea/*
*.Ds_Store
node_modules/*
/.vscode/
.node-version
deploy-newhuan.sh
yarn-error.log
proxy.conf.json
.firebase/*
package.json
package-lock.json

# vim cache files
*.swp
*.swo
**/cdn/cdnConfig.js
